/**
  * TOOLTIPs
  * Overrides some default tooltip styles
**/
span.tooltip-troll {
    text-decoration: underline;
}
#tooltip {
    text-align: left !important;
    max-width: 520px;
    padding: 6px 14px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.90);
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}
#tooltip::before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    left: 50%;
    top: 0;
    border: 6px solid transparent;
    border-top: 0;
    border-bottom: 6px solid rgba(0,0,0,0.9);
    transform: translate(-50%, calc(-100%));
}